
/* --> Configuration <-- */
configuration { 
    modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               "APPS";
    display-run:                "RUN";
    display-filebrowser:        "FILES";
    display-window:             "WINDOW";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

/* --> Global properties <-- */
* {
    font:                       "JetBrains Mono Nerd Font 12";
    background:                 #1A1B1CFF;
    background-alt:             #2D2F33FF;
    foreground:                 #D9D9D9FF;
    selected:                   #6E727AFF;
    active:                     #9EA3AFFF;
    urgent:                     #A54242FF;
}

/* --> Main window <-- */
window {
    padding:                    0px;
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    width:                      1000px;
    x-offset:                   0px;
    y-offset:                   0px;

    /* properties for all widgets */
    enabled:                    true;
    border-radius:              15px;
    cursor:                     "default";
    background-color:           @background;
}

/* --> Main box <-- */
mainbox {
    enabled:                    true;
    spacing:                    0px;
    background-color:           transparent;
    orientation:                horizontal;
    children:                   [ "imagebox", "listbox" ];
}

imagebox {
    padding:                    20px;
    background-color:           transparent;
    background-image:           url("~/.config/rofi/source/chisa.jpg", height);
    border-radius:              10px;
    orientation:                vertical;
    children:                   [ "inputbar", "dummy", "mode-switcher" ];
}

listbox {
    spacing:                    20px;
    padding:                    20px;
    background-color:           transparent;
    orientation:                vertical;
    children:                   [ "message", "listview" ];
}

dummy {
    background-color:           transparent;
}

/* --> Inputbar <-- */
inputbar {
    enabled:                    true;
    spacing:                    10px;
    padding:                    15px;
    border-radius:              10px;
    background-color:           @background-alt;
    text-color:                 @foreground;
    children:                   [ "textbox-prompt-colon", "entry" ];
}
textbox-prompt-colon {
    enabled:                    true;
    expand:                     false;
    width:                      25px;
    str:                        "";
    background-color:           transparent;
    text-color:                 inherit;
}
entry {
    enabled:                    true;
    background-color:           inherit;
    text-color:                 inherit;
    cursor:                     text;
    placeholder:                "Search";
    placeholder-color:          inherit;
}

/* --> Mode switcher <-- */
mode-switcher{
    enabled:                     true;
    spacing:                     20px;
    background-color:            transparent;
    text-color:                  @foreground;
}
button {
    padding:                     15px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      pointer;
}
button selected {
    background-color:            @selected;
    text-color:                  @foreground;
}

/* --> Listview <-- */
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    border:                      0px;
    
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/* --> Elements <-- */
element {
    enabled:                     true;
    spacing:                     15px;
    padding:                     8px;
    border-radius:               10px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element normal.normal,
element normal.alternate,
element normal.active,
element alternate.normal,
element alternate.active,
element alternate.urgent {
    background-color:           transparent;
    text-color:                 @foreground;
}
element selected.normal {
    background-color:            @selected;
    text-color:                  @foreground;
}
element selected.urgent {
    background-color:            @urgent;
    text-color:                  @foreground;
}
element selected.active {
    background-color:            @urgent;
    text-color:                  @foreground;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/* --> Message <-- */
message {
    background-color:            transparent;
}
textbox {
    padding:                     15px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     15px;
    border-radius:               20px;
    background-color:            @background;
    text-color:                  @foreground;
}
